{
   "check-coverage": true,
   "lines": 100,
   "statements": 100,
   "functions": 100,
   "branches": 100,
   "include": [
    "routes/**/*.js",
    "test /**/*.js"
   ],
   "exclude": [
     "public/**/*.js",
     "app.js",
     "lib/**/*.js",
     "bin/**/*.js"
   ],
   "reporter": [
      "lcov",
      "text-summary"
    ],
   "extension": [
     ".jsx"
   ],
   "cache": true,
   "all": true,
   "report-dir": "./alternative"
 }
