

@import 'libs/bootstrap/less/mixins.less';
@import 'libs/bootstrap/less/variables.less';
@body-bg: #34c083;
@modal_sub: #505050;
@primary: #15C281;
@black: #000000;
@grey: #888888;
@stroke: #979797;
@border: #E9E9E9;
@feed-bg: #F1F1F1;

@import 'src/users/css/users.less';
@import 'src/feeds/css/feeds.less';
@import 'src/posts/css/modal.less';
@import 'src/posts/css/post.less';

body {
  background-color: #ffffff;
  color: black;
}
@font-face {
  font-family: 'customSanFrancisco';
  src: url(San_Francisco.ttf);
}
body {
  background: rgba(255, 255, 255, 1);
  font-family: "customSanFrancisco";
  //font-family: 'Roboto', sans-serif;
  //font-family: "San Francisco", "Helvetica Neue", "Lucida Grande";;
  font-weight: normal;
}
a {
  color: @black;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.flex-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header styles  */
header {
  margin: 20px 0;
  .logo img {
    height: 50px;
  }
  .app-links a:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .app-links a:first-child {
    margin-bottom: 10px;
  }
  .app-links {
    display: flex;
    flex-flow: column;
  }
  .app-links a img {
    height: 32px;
  }
}
@media (max-width: 600px) {
  header .flex-out {
    display: block;
    text-align: center;

  }
  .app-links {
    display: none;
  }
}

.post-outer .stats {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  padding-top: 0;
}

.post-outer .stats a {
  color: #888888;
}

.post-outer .stats .like-dislike a span {
  margin-left: 6px;
}

.post-outer .stats .like-dislike a:first-child {
  margin-right: 20px;
}

.post-outer .feature-img {
  min-width: 100%;
}

.post-outer:last-child {
  margin-bottom: 0px;
}

.container {
  -webkit-backface-visibility: hidden;
}
.loading-jumbo {
  text-align: center;
  cursor: progress;
}

// Utility class to hide elements when in 'sm' or 'xs' bootstrap media size
.hidden-devices {
  @media (max-width: @screen-sm-max) {
    .responsive-invisibility();
  }
}

.login-error {
  height: 0;
  overflow: hidden;
  transition: height 1s;
  &.active {
    height: 50px;
  }
}

// Transitions when buttons change color/class
.btn {
  transition-duration: .5s;
  transition-property: color, background-color;
  transition-timing-function: ease;
}

.jumbotron {
  h1 {
    text-shadow: 1px 1px 1px grey;
  }
}

.mt-0{
  margin-top: 0px!important;
}

.mt-10{
  margin-top: 10px!important;
}

.mt-20{
  margin-top: 20px!important;
}

.mt-30{
  margin-top: 30px!important;
}

.mt-40{
  margin-top: 40px!important;
}

.mt-50{
  margin-top: 50px!important;
}

.mt-60{
  margin-top: 60px!important;
}

.mt-70{
  margin-top: 70px!important;
}

.mt-80{
  margin-top: 80px!important;
}

.mt-90{
  margin-top: 90px!important;
}

.mt-100{
  margin-top: 100px!important;
}

.mb-0{
  margin-bottom: 0px!important;
}

.mb-10{
  margin-bottom: 10px!important;
}

.mb-20{
  margin-bottom: 20px!important;
}

.mb-30{
  margin-bottom: 30px!important;
}

.mb-40{
  margin-bottom: 40px!important;
}

.mb-50{
  margin-bottom: 50px!important;
}

.mb-60{
  margin-bottom: 60px!important;
}

.mb-70{
  margin-bottom: 70px!important;
}

.mb-80{
  margin-bottom: 80px!important;
}

.mb-90{
  margin-bottom: 90px!important;
}

.mb-100{
  margin-bottom: 100px!important;
}

.ml-0{
  margin-left: 0px!important;
}

.ml-5{
  margin-left: 5px!important;
}

.ml-10{
  margin-left: 10px!important;
}

.ml-20{
  margin-left: 20px!important;
}

.ml-30{
  margin-left: 30px!important;
}

.ml-40{
  margin-left: 40px!important;
}

.ml-50{
  margin-left: 50px!important;
}

.ml-60{
  margin-left: 60px!important;
}

.ml-70{
  margin-left: 70px!important;
}

.ml-80{
  margin-left: 80px!important;
}

.ml-90{
  margin-left: 90px!important;
}

.ml-100{
  margin-left: 100px!important;
}

.mr-0{
  margin-right: 0px!important;
}

.mr-10{
  margin-right: 10px!important;
}

.mr-20{
  margin-right: 20px!important;
}

.mr-30{
  margin-right: 30px!important;
}

.mr-40{
  margin-right: 40px!important;
}

.mr-50{
  margin-right: 50px!important;
}

.mr-60{
  margin-right: 60px!important;
}

.mr-70{
  margin-right: 70px!important;
}

.mr-80{
  margin-right: 80px!important;
}

.mr-90{
  margin-right: 90px!important;
}

.mr-100{
  margin-right: 100px!important;
}

.pl-0 {
  padding-left: 0px!important;
}

.pr-0 {
  padding-right: 0px!important;
}

.float-left {
  float: left!important;
}

.float-none {
  float: none!important;
}

.float-right {
  float: right!important;
}

.cursor-pointer {
  cursor: pointer!important;
}

//customize font size
.fs-5{
  font-size: 5px!important;
}
.fs-10{
  font-size: 10px!important;
}
.fs-15{
  font-size: 15px!important;
}
.fs-20{
  font-size: 20px!important;
}
.fs-30{
  font-size: 30px!important;
}
.fs-40{
  font-size: 40px!important;
}
.fs-50{
  font-size: 50px!important;
}

.hiddenDev {
  display: none;
}



//First page css
header {
  width: 100%;

  object-fit: contain;
}

#signup-header {
  background-image: linear-gradient(94deg, #15c281, #f9f9f9);
  height: 150px;
}

.U-Logo-FIRST {
  width: 70px;
  height: 93px;

}

#header-logo {
  position: absolute;
  left: 0%;
  top: 0%;
}

.signup {

}

.signup-promo {
  /* width: 807px;
  height: 240px; */
  object-fit: contain;
  font-size: 68px;
  font-weight: 900;
  text-align: center;
  color: #000000;
}

#signup-header {
  background-image: linear-gradient(94deg, #15c281, #f9f9f9);
}

.Enter-email {
  font-size: 32px;
  font-weight: 200;
  color: #000000;
  text-align: center;
}

#email-submitted {
  position: relative;
  left: 14%;
}

.Email-required {
  font-size: 42px;
  font-weight: 400;
  color: red;
  position: relative;
  left: 33%;
  top: 50px;
}


.signup .form-group .signup-email {

  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #000;
  border: none;
}


input[type='text'].signup-email::-webkit-input-placeholder {
  font-size: 30px;
  font-weight: 400;
}

.signup .form-group .signup-button {

  width: 200px;
  height: 76.4px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #34c083;
  border: solid 1px #34c083;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}


#footer_app_store {
  float: right;
  margin-right: 35px;
  top: -100px;
  height: 57px;
  width: auto !important;
}


#signup-footer {
  background-color: #34c083;
  height: 200px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#signup-footer p {
  color: #fff;
}








/**********************/
/*    common styles    */
/**********************/
body {
  background: white;
  //font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a {
  color: #000000;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.clear-fix {
  clear: both;
}

.flex-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/**********************/
/*    modal styles    */
/**********************/
.dash-input {
  border: none;
  padding: 0;
  width: 17ch;
  background-image: repeating-linear-gradient(90deg, #15C281 0, #15C281 1ch, transparent 0, transparent 1.5ch);
  background-position: 0 100%;
  background-size: 16ch 2px;
  background-repeat: no-repeat;
  letter-spacing: 0.5ch;
  //font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5ch;
  font-size: 5ch;
  font-weight: 300;
  color: #15C281;
}

.dash-input:focus {
  outline: none;
}

.dash-input.small {
  font-size: 4ch;
}

.modal-dialog {
  margin-top: 10%;
}

.modal-content {
  border-radius: 20px;
}

.modal-body {
  padding: 25px 15px;
}

.modal-body .modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal-body h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
}

.modal-body p {
  margin: 24px 0;
  font-size: 17px;
  line-height: 27px;
  color: #505050;
}

.modal-body form {
  margin-bottom: 24px;
}

.modal-body .ctc-btn {
  color: grey;
  border: 1px solid grey;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  font-size: 17px;
}

.modal-body .ctc-btn:hover {
  border-color: #15C281;
  color: #15C281;
}

@media (min-width: 767px) {
  .modal.show .modal-dialog {
    min-width: 600px !important;
  }
}

.sign-up-top .ctc-btn {
  color: grey;
  border: 1px solid grey;
  margin-top: 30px;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  font-size: 17px;
}

.sign-up-top .ctc-btn:hover {
  border-color: #15C281;
  color: #15C281;
}
/**********************/
/*    header styles    */
/**********************/
header {
  margin: 20px 0;
}

header .logo img {
  height: 70px;
}

header .app-links a:first-child {
  margin-right: 10px;
}

h1.main-heading {
  font-size: 33px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  background: white;
  padding-bottom: 20px;
}

/**********************/
/*    Landing page styles    */
/**********************/
.sign-up-top h1 {
  font-size: 50px;
  margin-top: 60px;
}

.sign-up-top p {
  color: #888888;
  font-size: 25px;
  margin: 20px 0 10px 0px;
}

.sign-up-top p.small {
  font-size: 20px;
}


/**********************/
/*    wrapper styles    */
/**********************/
.wrapper {
  max-width: 880px;
  margin: 0 auto;
  background: #F1F1F1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  position: relative;
}

.wrapper .sign-up {
  position: absolute;
  left: 110%;
  top: 100px;
}

.wrapper .sign-up h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.wrapper .sign-up p {
  color: #888888;
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0 10px 0px;
}

.wrapper .sign-up p a {
  color: #888888;
}

.wrapper .sign-up p a:hover {
  color: #505050;
}

.wrapper .pictures {
  margin: 40px 0;
}

.wrapper .pictures img {
  max-height: 200px;
}

.wrapper .finally {
  font-weight: 400;
  margin-bottom: 40px;
}

.wrapper .link ul li {
  display: inline-block;
}

.wrapper .link ul li a {
  color: #818488;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}

.wrapper .link ul li a:hover {
  color: #000000;
}

.wrapper.transparent {
  background: transparent;
  border: none;
}

.direct-download {
  display: none;
}

.direct-download h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}


@media (max-width: 991px) {
  .app-links a:first-child {
    margin-bottom: 10px;
  }
  .app-links {
    display: flex;
    flex-flow: column;
  }
  .app-links a img {
    height: 32px;
  }
  .sign-up {
    display: none;
  }
}

@media (max-width: 767px) {
  header .flex-out {
    display: block;
    text-align: center;
  }
  .app-links {
    display: none;
  }
  .direct-download {
    display: block;
    margin: 100px 0 40px 0;
  }
}
