footer
  div.content.container-fluid
    div.row
      div.col-sm-6
        p=company
        p &copy; Copyright 2017 Next Gen Sports Inc. All Rights Reserved.
      div.col-sm-6
        nav(role="navigation").navbar.navbar-default
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") Terms of use
            li
              a(href="#") Privacy policy
