//-
  Header Begins
header.container-fluid.header-band
  div.header.container-fluid
    div.container
      div.row
        div.col-md-12
        div.col-sm-3.col-sm-6
          img#header-logo.logo-first(src="img/u-logo-usefirst.png" alt="")
        div.col-sm-3.col-sm-6
          form#form-search.search(action="#" method='get')
            div.form-group
              div!=searchSymbol
              input#search-bar.form-control.search-bar(type="text" name='search-bar' placeholder="Search")
        div.col-sm-3.col-sm-6
          ul.header-links
            li
              a (href="#") Create an account
            li
              a (href="#") FAQ
//-
  mobile-header
  div class="mobile-header
    div.container
      div.row
         div.col-md-12
          img#mobile-header-logo.U-Logo-FIRST.text-center(src="img/u-logo-usefirst.png"   alt="")
          form#form-search.search(action="#" method='get')
            div.form-group
              input#search-bar.form-control.mobile-search-bar.text-center(type="text"  name='search-bar')
            ul.header-links
              li
                a (href="#") Create an account
              li
                a (href="#") FAQ
