//-
  Header Begins
header
  div.header
    div.container-fluid
      div.row
        div.col-sm-2
          img#header-logo.logo-logo(src="img/u-logo-usefirst.png" alt="")
        div.col-sm-4
          form#form-search.search(action="#" method='get')
            div.form-group
              input#search-bar.form-control.search-bar(type="text" name='search-bar' placeholder="Search")
        //-
          div.col-sm-4
            ul.header-links
              li
                a (href="#") Create an account
              li
                a (href="#") FAQ
