extends layout

block content
  include header
  h1= title
  p Welcome to #{title}
  if (typeof(data) === 'object')
    ul
      each thing in data
        li
          a(href="http://"+host+"/ustadium/feeds/"+thing.name)=thing.name

  include footer
