doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class=colorClass)
    block content
    script(src="/jq/jquery.js")
    script(src="/te/tether.js")
    script(src="/bs/bootstrap.js")
    script(src="/javascripts/bundle.js")
    script(src="/javascripts/myscript.js")
