



/*.......................... Mobile Layout ................................*/

@media only screen and (min-width:320px) and (max-width: 767px) {
 
 body {
	
	 -moz-transform: scale(0.7, 0.7); /* Moz-browsers */
    zoom: 0.7; /* Other non-webkit browsers */
    zoom: 70%; /* Webkit browsers */
    

}



/*------------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------------*/

.header {
	display: none !important;

}


.mobile-header {
	display: block !important;
	width: 100%;
	height: 13%;
	position: fixed;
	z-index: 1;
	background-image:  linear-gradient(94deg, #15c281, #f9f9f9);
}

#mobile-header-logo {
	position: relative;
	left: 45%;
	top: 10px;
}

.mobile-search-bar {
	position: relative;
	top: 20px;
	left: 10%;
	width: auto;
}


.mobile-header .header-icons {
	display: block !important;
}

#toggle {
	position: relative;
	top: -55px;
}

.fa-search {
	float: right;
	position: relative;
	top: -55px;
	color: #fff;
}



/*------------------------------------------------------------------------*/
/* Mobile Header Overlay*/
/*-------------------------------------------------------------------------*/

.button_container:hover {
	opacity: .7;

	}


.button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);

	
}

.button_container.active .middle {
	opacity: 0;
	background: #fff;

}

.button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	
}

.button_container span {
	background: #fff;
	border: none;
	height: 5px;
	width: 6%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
}

.button_container span:nth-of-type(2) {
	top: 11px;
}

.button_container span:nth-of-type(3) {
	top: 22px;
}


.overlay {
	position: fixed;
	background: #34c083;
	top: 12%;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
	z-index: 99;
}

.overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
}

.overlay .header-icons {
	position: relative;
	left: 20%;
}



.overlay .header-icons li img {
	display: block !important;
	position: relative;
	top: 80px;
}

.overlay .Feeds span,
.overlay .Messages span
 {
	position: relative;
	left: -10%;
	top: -15px;
	font-size: 1em;

}

 
.overlay .header-icons .mobile-header-links a{
	color: #fff;
	font-size: 2em;
	display: block !important;
	position: relative;
	top: 100px;
	left: -20%;
	margin-bottom: 20%;


}

.Feeds-Icon,
.Messages-Icon {
	width: 30%;
	height: 30%;
}

.Feeds-Icon {
	position: relative;
	left: 0;
}





/*------------------------------------------------------------------------*/
/* End of Mobile Header Overlay */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* End of Header */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Feed Page */
/*-------------------------------------------------------------------------*/

.feed {
	margin-top: -105% !important;
}

.feed-name {
	font-size: 2em !important;
	
}

.-posts {
	font-size: 1.5em !important;
	
}

.Post{
	position: relative;
	top: 40px;
}

.First-Post, 
.Second-Post, 
.post-avatar,
.post-content  {
	width: auto !important;
	height: auto !important;
}

.post-username,
.post-timestamp {
	left: 23%;
}

.post-username {
    font-size: 2em !important;
}

.post-timestamp {
	font-size: 1em !important;
}




.post-avatar {
	top: 10px;
	left: -1%;
	width: 20% !important;
	height: 20% !important;
}

.post-content {
	font-size: 1.3em !important;
	text-align: center;
	left: 3%;
	top: -55px;
}

.post-img {
	left: 0;
	width: 100%;
	height: auto;
}

.polling-icons {
	left: 0;
}

.polling-icons li {
	padding: 50px !important;
}



/*------------------------------------------------------------------------*/
/* End of Feed Page */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Single Post Page */
/*-------------------------------------------------------------------------*/
.post {
	margin-top: -105%;
}

#feed-title {
 
  margin-left: -5%;
  font-size: 2em !important;


}

.-posts-502-s {
  width: 630px;
  height: 98px;
  margin-left: 22%;
 
}

.-posts-502-s p {
  font-size: 0.3em !important;
   top: 3%;
   left: 20% !important;
   font-weight: bold;
   letter-spacing: 0.5px;
   color: #3f3f3f;
   text-align: center;

}


#middot {
	
	top: 10px;
}

.Group {
  width: 51px;
  height: 51px;
  object-fit: contain;
  position: absolute;
  top: 0%;
  left: 87%;
}

.the_posts {
	margin-top: -20% !important;
}

.initial-post {
	margin-bottom: 3%;
}

 #post-post-avatar {
 	top: 5px;
 	
 }

 #post-post-username,
 #post-post-timestamp {
 	left: 20%;
 }



/*------------------------------------------------------------------------*/
/* End of Single Post Page */
/*-------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*  Popup */
/*-------------------------------------------------------------------------*/

.card {
	display: none !important;
}

.mobile-card {
	display: block !important;
	left: 4%;

}

.mobile-card p {
	font-size: 18px !important;
	text-align: center;
	left: 0 !important;
	top: 30% !important;
	position: relative;
	width: auto !important;
}

.U-Logo-USE-FIRST {
	height: auto;
	width: auto;
	position: relative;
	left: 0;
	top: 8%;
	z-index: -1;

}

.phone-number {
	width: auto !important;
	left: 15%;
	top: 55% !important;
}

.submit-email2 {
	width: 80% !important;
	top: 50%;
	left: 10%;
	font: 30px;
}

#email2-btn {
	top: 70%;
	left: 30%;

}


#this-is-just-the-beginning {
	top: 20% !important;
	left: 10% !important;
}

input[type='text'].submit-email2::-webkit-input-placeholder {

  left: 15%;
  font-size: 30px;
  
}

.mobile-card#emailSignupPopup {
	background: url("../img/u-logo-u-s-e-f-i-r-s-t.png"), linear-gradient(180deg, #15c281, #f9f9f9) !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;

}





/*------------------------------------------------------------------------*/
/* Popup Ends*/
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Sign Up Page */
/*-------------------------------------------------------------------------*/

.signup {

	top: -470px;

}



.signup-promo {

  font-size: 40px;
 
}

.Enter-email {
  
  font-size: 23px;
  left: 10%;
  width: 75%;


}


.signup .form-group .signup-email {

 	font-size: 50px;
 	top: 150px;
 	left: 0;
 	width: 100%;
    height: 100px;
  

}


.signup .form-group .signup-button {

 
  top: 250px;
  left: 37%;
  font-size: 14px;
  width: 122px;
  height: 55.1px;

}


#email-submitted {
	position: relative;
	left: 13%;
	text-align: center;
}

.Email-required {
	font-size: 25px;
  	left: 0;
  	top: 80px;
  	text-align: center;

}


#footer_app_store {
	
	left: 2%;
	top: 100px;

}

#signup-footer {
	height: 500px !important;
}

#signup-footer p {
	color: #fff;
}





/*------------------------------------------------------------------------*/
/* Sign Up Page Ends */
/*-------------------------------------------------------------------------*/











/*------------------------------------------------------------------------*/
/* Sign Up Section */
/*-------------------------------------------------------------------------*/

.sign-up-section {
	 box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.5);
	 height: 700px !important;
	 position: relative;
	 top: 50px;
}

#sign-up  {
	font-size: 2em !important;

}


.sign-up-section p {
	font-weight: bold;
	font-size: 1em;
}



.submit-email {

	position: relative;
	top: 5px;
	left: 0%;
	width: auto;
}

.btn {

	top: 50px !important;
	left: -35% !important;
}

input[type='text'].submit-email::-webkit-input-placeholder {
 	position: relative;
 	left: 24% !important;
	
  
}





/*------------------------------------------------------------------------*/
/* End of Sign Up Section */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------------*/

.footer {
	margin-top: -20%;
	height: 600px !important;

}

.footer li a {
	display: block;
}

.footer p {
	font-size: 1em !important;
}



/*------------------------------------------------------------------------*/
/* End of Footer */
/*-------------------------------------------------------------------------*/





  

  /*.....................................end of Mobile Layout...................*/


}



  
  








/*...............................Wide Mobile Layout.......................*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

	


/*------------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------------*/

.header {
	display: none !important;
}

.mobile-header {
	display: block !important;
	height: 25%;
}

#mobile-header-logo {
	position: relative;
	left: 47%;
}

.mobile-search-bar {
	position: relative;
	top: 20px;
	left: 27%;
	width: auto;
}


/*------------------------------------------------------------------------*/
/* End of Header */
/*-------------------------------------------------------------------------*/





/*------------------------------------------------------------------------*/
/* Feed Page */
/*-------------------------------------------------------------------------*/

.feed {
	margin-top: -35% !important;
}

.feed-name {
	font-size: 40px !important;
	
}

.-posts {
	font-size: 35px !important;
	
}

#Post
 {
	width: auto !important;
	height: auto !important;
}

.post-username,
.post-timestamp {
	left: 15%;
}


.post-avatar {
	left: -1%;
	width: auto !important;
	height: auto !important;
}

.post-content {
	font-size: 16px !important;
	text-align: center;
	left: 3%;
	top: -35px;

}

.post-img {
	left: 25%;
	top: -15px;
	width: 50% !important;
	height: 50% !important;

}

.polling-icons {
	left: 0;
	top: -5px;
}

.polling-icons li {
	padding: 100px !important;
}



/*------------------------------------------------------------------------*/
/* End of Feed Page */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/*  Popup */
/*-------------------------------------------------------------------------*/


.mobile-card {
	display: block !important;
	margin-left: 5% !important;
	margin-top: -15% !important;
	width: auto !important;

}

.mobile-card#emailSignupPopup {

	background: url("../img/u-logo-u-s-e-f-i-r-s-t.png"), linear-gradient(180deg, #15c281, #f9f9f9) !important;
	background-position: bottom right  !important;
	background-repeat: no-repeat !important;

}





/*------------------------------------------------------------------------*/
/* Popup Ends*/
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Single Post Page */
/*-------------------------------------------------------------------------*/
.post {
	margin-top: -50%;
}

#feed-title {
 
  left: 0;
  font-size: 2em !important;



}

.-posts-502-s {
  width: 630px;
  height: 98px;
  margin-left: 22%;
 
}

.-posts-502-s p {
  font-size: 0.3em !important;
   top: 3%;
   left: 33% !important;
   font-weight: bold;
   letter-spacing: 0.5px;
   color: #3f3f3f;
   text-align: center;

}


#middot {
	
	top: 5px;
}

.Group {
  width: 51px;
  height: 51px;
  object-fit: contain;
  position: absolute;
  top: 0%;
  left: 72%;
}

.the_posts {
	margin-top: -5%;
}

.initial-post {
	margin-bottom: 3%;
}

 #post-post-avatar {
 	top: 5px;
 	
 }

 #post-post-username,
 #post-post-timestamp {
 	left: 10%;
 }



/*------------------------------------------------------------------------*/
/* End of Single Post Page */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Sign Up Page */
/*-------------------------------------------------------------------------*/



.Enter-email {
  
  font-size: 23px;
  left: 15%;
  width: 75%;


}


.signup .form-group .signup-email {

  
  left: 0;

}


.signup .form-group .signup-button {

 
  left: 43%;
}





#footer_app_store {
	
	left: 0;
	top: 100px;

}





/*------------------------------------------------------------------------*/
/* Sign Up Page Ends */
/*-------------------------------------------------------------------------*/
















/*------------------------------------------------------------------------*/
/* Sign Up Section */
/*-------------------------------------------------------------------------*/


#sign-up  {
	font-size: 2em;

}

.sign-up-section p {
	
	font-size: 1em;
}



.submit-email {

	position: relative;
	top: 20px;
	left: 25%;
	width: auto;
}

.btn {

	top: 80px !important;
	left: -43% !important;
}

input[type='text'].submit-email::-webkit-input-placeholder {
 	position: relative;
 	left: 17% !important;
	
  
}




/*------------------------------------------------------------------------*/
/* End of Sign Up Section */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------------*/

.footer {

	height: 300px;
	margin-top: -10% !important;
}




/*------------------------------------------------------------------------*/
/* End of Footer */
/*-------------------------------------------------------------------------*/






}


/*...............................Wide Mobile Layout Ends.......................*/






 



/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {


/*------------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------------*/
#header-logo {
	position: relative;
	left: -150%;
	top: 20px;
}


.search-bar {
	position: relative;
	left: -80%;
	top: 40px;
}

.header-links {
	position: relative;
	left: 150%;
	margin-right: -150%;
	top: 50px;
}


/*------------------------------------------------------------------------*/
/* End of Header */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Feed */
/*-------------------------------------------------------------------------*/

.feed {
	margin-top: -50% !important;
}


.Post{
	
	width: 100% !important;
	height: auto;
}

.post-username {
	top: -43px !important;
}

.post-timestamp {
	top: -48px !important;
}

.post-img {
	width: 75% !important;
	height: auto;
}



.post-content {
	font-size: 1.5em;
	text-align: center;
	left: 3%;
	top: -40px;
	width: auto !important;
}

.polling-icons li {
	display: inline !important;
	padding: 90px;
}		






/*------------------------------------------------------------------------*/
/* End of Feed */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Single Post Page */
/*-------------------------------------------------------------------------*/


#feed-title {

	position: relative;
	top: -150px !important;
	left: -15%;
 



}

.-posts-502-s {
  width: 630px;
  height: 98px;
  margin-left: 22%;
 
}

.-posts-502-s p {

	top: -100px;
	font-size: 0.9em;
	left: 17%;
}


#middot {
	
	top: 10px;
}

.Group {
  width: 51px;
  height: 51px;
  object-fit: contain;
  position: absolute;
  top: 10% !important;
  left: 100%;
}



/*------------------------------------------------------------------------*/
/* End of Single Post Page */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Popup */
/*-------------------------------------------------------------------------*/





.card {
	left: 7% !important;
}

/*------------------------------------------------------------------------*/
/* Popup Ends */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Sign Up Page */
/*-------------------------------------------------------------------------*/
.signup {
	top: -370px !important;
}


.signup-promo {
  width: 110%;
}



.Enter-email {
  
 
  left: -7%;
  
}

.signup .form-group .signup-button {

 
  left: 35%;
}



#footer_app_store {
	left: 60%;
	top: -130px;
}

#signup-footer {
	position: relative;
	top: 150px;
}

#signup-footer p {
	color: #fff;
}








/*------------------------------------------------------------------------*/
/* Sign Up Page Ends */
/*-------------------------------------------------------------------------*/













/*------------------------------------------------------------------------*/
/* Sign Up */
/*-------------------------------------------------------------------------*/

.submit-email {
	left:  -5%;
}


#email-btn {
	position: relative;
    float: right;
    left: -10%;
    margin-top: -2.7% !important;

}






/*------------------------------------------------------------------------*/
/* End of Sign Up*/
/*-------------------------------------------------------------------------*/





/*------------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* End of Footer */
/*-------------------------------------------------------------------------*/




	

  
}





/* Tablet Landscape Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


/*------------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------------*/

.search-bar {
	left: 15%;
}


/*------------------------------------------------------------------------*/
/* End of Header */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Feed */
/*-------------------------------------------------------------------------*/

.feed {
	margin-top: -30% !important;
}

#post-post-content {
	width: 90% !important;
}




/*------------------------------------------------------------------------*/
/* End of Feed */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Single Post Page */
/*-------------------------------------------------------------------------*/


#feed-title {

	position: relative;
	top: -150px !important;
	left: -5%;

}


.-posts-502-s p {

	top: -100px;
	font-size: 0.9em;
	left: 25%;
}




/*------------------------------------------------------------------------*/
/* End of Single Post Page */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Popup */
/*-------------------------------------------------------------------------*/





.card {
	left: 17% !important;
}

/*------------------------------------------------------------------------*/
/* Popup Ends */
/*-------------------------------------------------------------------------*/





/*------------------------------------------------------------------------*/
/* Sign Up Page */
/*-------------------------------------------------------------------------*/

.signup {
	left: -1.5%;
}


.Enter-email {
  left: 10%;
}

#email-submitted {
	left: 12%;
}



.signup .form-group .signup-button {
  left: 40%;
}







/*------------------------------------------------------------------------*/
/* Sign Up Page Ends */
/*-------------------------------------------------------------------------*/


















/*------------------------------------------------------------------------*/
/* Sign Up */
/*-------------------------------------------------------------------------*/


#email-btn {
	position: relative;
    float: right;
    left: -15%;
    margin-top: -2.2% !important;

}







/*------------------------------------------------------------------------*/
/* End of Sign Up*/
/*-------------------------------------------------------------------------*/





/*------------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* End of Footer */
/*-------------------------------------------------------------------------*/




	

  
}






/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {


/*------------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------------*/

	#header-logo {

		margin-left: 10%;

	}
	
	.search-bar {

		margin-left: 70%;
	}

	.header-links {

		margin-right: -70%;
		left: 200%;
	}

	.header-links li {

		padding: 5px;
	}

	.header-links a {
		font-size: 22px !important;
	}

/*------------------------------------------------------------------------*/
/* End of header */
/*-------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Feed Page */
/*-------------------------------------------------------------------------*/
	
	

	.feed-name {

		margin-top: -15%;

	}

	.Post{

		width: 100% !important;
	}

	.post-img {
		
		left: 15%;
	}


/*------------------------------------------------------------------------*/
/*  End of Feed Page */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Single Post Page */
/*-------------------------------------------------------------------------*/

.post {
	margin-top: -20% !important;
}

#feed-title {

	position: relative;
	top: -150px !important;
	left: -5%;
}


.-posts-502-s p {

	top: -100px;
	font-size: 0.9em;
	left: 22%;
}


#middot {
	
	top: 10px;
}

.Group {
  width: 51px;
  height: 51px;
  object-fit: contain;
  position: absolute;
  top: 10% !important;
  left: 100%;
}



/*------------------------------------------------------------------------*/
/* End of Single Post Page */
/*-------------------------------------------------------------------------*/










/*------------------------------------------------------------------------*/
/*  Sign Up */
/*-------------------------------------------------------------------------*/




	.submit-email {
		
		left: 10%;
	
	}

	.btn {

		margin-top: -2.2% !important;
		left: -15%;
	}

/*------------------------------------------------------------------------*/
/*  End of Sign Up */
/*-------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------------*/


	#footer-logo, .footer-links, .footer p {

		left: -3%;
	}






/*------------------------------------------------------------------------*/
/* End of Footer */
/*-------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/* Popup */
/*-------------------------------------------------------------------------*/





.card {
	left: 17% !important;
}

/*------------------------------------------------------------------------*/
/* Popup Ends */
/*-------------------------------------------------------------------------*/





}




@media only screen and (min-width: 1024px) and (max-width: 1366px) {



/*------------------------------------------------------------------------*/
/* Sign Up Page */
/*-------------------------------------------------------------------------*/

/* .signup {
	left: -1.5%;
	top: -50px;
}


.Enter-email {
  
  left: 10%;
  
}

.signup .form-group .signup-button {

 
  left: 40%;
}



#signup-footer {
	top: 720px;
}



 */




/*------------------------------------------------------------------------*/
/* Sign Up Page Ends */
/*-------------------------------------------------------------------------*/













}

