<div class="row">
  <!--<div class="row">-->
  <header>
    <div class="container flex-out">
      <div class="logo">
        <a href="#"><img src="public/images/logo.png" alt="uSTADIUM"></a>
      </div>
      <div class="app-links">
        <a href="#"><img src="public/images/google-play.png" alt="uSTADIUM"></a>
        <a href="#"><img src="public/images/app-store.png" alt="uSTADIUM"></a>
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="post-outer">
      <div class="mt-30">
        <img class="post-img float-left ml-20 mr-20" src="{{post.author.profileImageThumbnail}}"/>

        <div class="pl-0 ml-0 float-left">
          <div class="post-user">{{post.author.nickname}}</div>
          <div class="post-time">{{post.createdAt | timeago:Date.now}}</div>
        </div>
      </div>
      <div class="post-text-content ml-20">
        {{post.text}}
      </div>
      <div class="mt-10 text-center modal-img-wrapper">
        <div ng-class="{'modal-img-scroller': imgCount==3}">
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
        </div>
      </div>
      <div class="stats">
        <div class="like-dislike ml-10">
          <a href="#"><img src="public/images/like.png"><span class="count">20</span></a>
          <a href="#"><img src="public/images/dislike.png"><span class="count">20</span></a>
        </div>
        <div class="comments">
          <a href="#"><span class="count">5</span> comments</a>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
</div>
