<div class="">
  <div class="background-title">YOUR SPORTS HUB</div>
  <div id="myModal" class="modal" ng-class="{'mDisplay': open === 1}">
    <!-- Modal content -->
    <div class="modal-content post-background">
      <span ng-click="closeModal(0)"class="close">&times;</span>
      <div class="row">
        <div class="col-xs-2">
          <img class="post-img" src="{{post.author.profileImageThumbnail}}"/>
        </div>
        <div class="col-xs-5">
          <div><b>{{post.author.nickname}}</b></div>
          <div>{{post.createdAt | timeago:Date.now}}</div>
        </div>
      </div>
      <div class="col-md-12 mt-10">
        {{post.text}}{{imgCount}}
      </div>
      <div class="mt-10 text-center modal-img-wrapper">
        <div ng-class="{'modal-img-scroller': imgCount==3}">
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
          <img class="mt-10" ng-class="{'modal-img-one': imgCount==1, 'modal-img-two': imgCount == 2, 'modal-img-three': imgCount==3, 'modal-img-two': imgCount==4}" src="{{post.mediaFileThumbnail ? post.mediaFileThumbnail : post.author.profileImage}}"/>
        </div>
      </div>
      <div class="mt-10">
        <div style="float: left; margin-right: 20px; color: #34c083;" class="fa fa-thumbs-o-up">   {{post.likes}}</div>
        <div style="float: left; color: #e7202a;" class="fa fa-thumbs-o-down">   {{post.dislikes}}</div>
        <div style="float: right;color: #000000;opacity:0.5; margin-right:20px; padding-left: 10px" class="fa fa-comment">   {{post.numComments}}</div>
      </div>
    </div>
  </div>
  <div class="number-container">
    <div class="number-wrapper1">
      <p class="layer"> 10 </p>
      <div class="number-wrapper2 wraper2-1">
        <div class="number-wrapper3">
        </div>
      </div>
      <div class="number-wrapper2 wraper2-2">
        <div class="number-wrapper3">
        </div>
      </div>
    </div>
    <div class="number-wrapper1">
      <p class="layer"> 20 </p>
      <div class="number-wrapper2 wraper2-1">
        <div class="number-wrapper3">
        </div>
      </div>
      <div class="number-wrapper2 wraper2-2">
        <div class="number-wrapper3">
        </div>
      </div>
    </div>
    <div class="number-wrapper1">
      <p class="layer"> 30 </p>
      <div class="number-wrapper2 wraper2-1">
        <div class="number-wrapper3">
        </div>
      </div>
      <div class="number-wrapper2 wraper2-2">
        <div class="number-wrapper3">
        </div>
      </div>
    </div>
    <div class="number-wrapper1">
      <p class="layer"> 40 </p>
      <div class="number-wrapper2 wraper2-1">
        <div class="number-wrapper3">
        </div>
      </div>
      <div class="number-wrapper2 wraper2-2">
        <div class="number-wrapper3">
        </div>
      </div>
    </div>
    <div class="number-wrapper1">
      <p class="layer"> 50 </p>
      <div class="number-wrapper2 wraper2-1">
        <div class="number-wrapper3">
        </div>
      </div>
      <div class="number-wrapper2 wraper2-2">
        <div class="number-wrapper3">
        </div>
      </div>
    </div>
  </div>
</div>
