header
  nav#myTab.navbar.navbar-dark.navbar-full
    .container
      ul.nav
        li.nav-item(class='ab-nav-item-'+bgType)
          a.nav-link.ab-nav-link(data-toggle="tab" href="login" role="tab" aria-controls="login") login
        li.nav-item(class='ab-nav-item-'+bgType)
          a.nav-link.ab-nav-link(data-toggle="tab" href="signup" role="tab" aria-controls="register") register
