extends layout

block content
  include header
  include message
  form(method='post')
    p
      label(for='username') Username
      input(type='text', name='username')
    p
      label(for='email') Email
      input(type='email', name='email')
    p
      label(for='phone') Phone
      input(type='phone', name='phone')
    p
      label(for='code') Code
      input(type='text', name='code')
    p
      label(for='password') New password
      input(type='password', name='password')
    input(type='submit')
  include footer
