@import "./nav.less";

.feeds-page {
  max-width: @screen-xs;
  padding: 15px;
  margin: 0 auto;
  background-color: lighten(@slate-color, 10%);
  box-shadow: 1px 1px 2px 2px lighten(@slate-color, 20%);
  border-radius: 5px;
  .form-control:focus {
    z-index: 2;
  }
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
   min-height: 100px;
   margin-bottom: 20px;
   border-radius: 25px;
}

.category {
  margin-top: 25px;
}

.image-h2 {
  margin-left: 10px;
}

.name {
  color: white;
}

.card {
  &:hover {
    text-decoration: none;
  }
}
