.image {
   position: relative;
   width: 100%; /* for IE 6 */
   min-height: 100px;
   margin-bottom: 20px;
   border-radius: 25px;
}

.category {
  margin-top: 25px;
}

.image-h2 {
  margin-left: 10px;
}

.name {
  color: white;
}
