h1.main-heading {
  font-size: 33px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  background: white;
  padding-bottom: 20px;
}

.wrapper {
  max-width: 440px;
  margin: 0 auto;
  background: #F1F1F1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.feed-outer {
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}

.feed-outer .profile {
  width: 100%;
  float: left;
}

.feed-outer .profile img {
  width: 100%;
  height: 100%;
}

.feed-outer .data {
  width: calc(~"100% - 60px");
  float: left;
  margin-top: -7px;
  padding-left: 10px;
}

.feed-outer .data h1 {
  font-size: 18px;
  line-height: 28px;
  color: #888888;
}

.feed-outer .data h4 {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
}

.feed-outer .profile.out .img {
  width: 60px;
  height: 60px;
  float: left;
}

.feed-outer .profile.in .img {
  width: 40px;
  height: 40px;
  float: left;
}

.feed-outer .content {
  font-size: 18px;
  line-height: 30px;
  clear: both;
}

.feed-outer .content p {
  margin-bottom: 0px;
}

.feed-outer .feed-inner {
  padding: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  margin-top: 15px;
}

.feed-outer .stats {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.feed-outer .stats a {
  color: #888888;
}

.feed-outer .stats .like-dislike a span {
  margin-left: 6px;
}

.feed-outer .stats .like-dislike a:first-child {
  margin-right: 20px;
}

.feed-outer .feature-img {
  min-width: 100%;
}

.feed-outer:last-child {
  margin-bottom: 0px;
}
