.footer {
	background-color: #34c083;
	bottom:0 !important;

  &-links {
    list-style: none;
	top: 60px;
  }

  &-appstore {
		width: 139px;
		@include breakpoint($screen-sm) {
			width: 250px;
		}
  }

	&-disclaimer {
		margin-top: 15px;
	}
}
