.ab-form {
  &-control {
    background-color:transparent !important;
    border-top:none;
    border-left: none;
    border-right: none;
    border-color: white;
    border-width: thick;
    border-radius: 0;
  }
}
