.ab-active {
  &-SOLID {
    border-bottom-style: solid;
    border-bottom-color: white;
  }

  &-EMPTY {
    border-bottom-style: solid;
    border-bottom-color: black;
  }

}

.ab-nav {
    &-item {
      &-EMPTY {
        &:hover {
          border-bottom-style: solid;
          border-bottom-color: black;
        }
      }

      &-SOLID {
        &:hover {
          border-bottom-style: solid;
          border-bottom-color: white;
        }
      }
    }

    &-link {
      color:inherit;
      &:hover {
        color:inherit;
      }
    }
}
