<!--&lt;!&ndash;-Header Begins-->
<!--&ndash;&gt;-->
<!--<header class="mt-0 mb-0">-->
<!--<div class="header" id="signup-header">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<a href="/"><img src="public/images/u-logo-usefirst.png" class="U-Logo-FIRST" id="header-logo" alt=""></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->
<!--&lt;!&ndash; Header Ends-->
<!--&ndash;&gt;-->
<!--<div class="signup">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<p class="signup-promo">uSTADIUM.com</p>-->
<!--<p class="signup-promo">is almost here!</p>-->
<!--<p class="Enter-email text-center">Entering your email gets you first access</p>-->
<!--<form action="/" method='post'>-->
<!--<div class="form-group">-->
<!--<input type="text" name='email' id='email' placeholder="Enter Your Email" class='signup-email'> <br>-->
<!--<input type="submit" value='Submit' class='signup-button form-control'> <br>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Footer Begins &ndash;&gt;-->
<!--<div>-->
<!--<div class="footer" id="signup-footer">-->
<!--<div class="col-md-12 text-center">-->
<!--<a href="/"><img src="public/images/u-logo-usefirst.png" class="U-Logo-FIRST" id='footer-logo' alt=""></a>-->
<!--<p>Copyright 2017 Next Gen Sports Inc. All Rights Reserved</p>-->
<!--<a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="public/images/app-store.png" id="footer_app_store" alt=""></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Footer Ends&ndash;&gt;-->
<header>
  <div class="container flex-out">
    <div class="logo">
      <a href="#"><img class="img-responsive" src="public/images/ustadium_logo.png" alt="uSTADIUM"></a>
    </div>
    <div class="app-links">
      <a href="https://play.google.com/store/apps/details?id=com.ustadium.android&hl=en"><img style="width: 135px" src="public/images/google-play.png" alt="uSTADIUM"></a>
      <a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img style="width: 135px" src="public/images/app-store.png" alt="uSTADIUM"></a>
    </div>
  </div>
</header>

<div class="sign-up-top text-center">
  <h1 class="main-heading">Sign Up Now</h1>
  <p class="text-center">Enter Your Phone #</p>
  <form>
    <div>
      <input type="text" class="dash-input" ng-model="model.tel" autocomplete="off" ng-intl-tel-input ng-hide="linkResponse">
      <span class="link-response" ng-show="linkResponse">{{linkResponse}}</span>
    </div>
    <div>
      <img src="public/images/loading.gif" width="70px" height="70px" ng-show="showLoading"/>
    </div>
    <input type="submit" value="Send" class="ctc-btn cursor-pointer" ng-click="downloadLinkFunction(model)" ng-hide="showLoading || linkResponse"></input>
  </form>
  <p class="small">We’ll send your phone a Download Link</p>
</div>

<div class="wrapper transparent">
  <div class="pictures text-center">
    <img src="public/images/player1.png">
    <img src="public/images/player2.png">
    <img src="public/images/player3.png">
    <img src="public/images/player4.png">
  </div>
  <h1 class="finally text-center">FINALLY. A place to<br>talk football <img src="public/images/football.png"></h1>
  <div class="direct-download">
    <h1 class="text-center">Direct Download</h1>
    <p class="text-center"><a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="public/images/app-store.png"></a></p>
    <p class="text-center"><a href="https://play.google.com/store/apps/details?id=com.ustadium.android&hl=en"><img src="public/images/google-play.png"></a></p>
  </div>
  <div class="link text-center">
    <ul>
      <li><a href="#">about</a></li>
      <li><a href="#">support</a></li>
      <li><a href="#">blog</a></li>
      <li><a href="#">api</a></li>
      <li><a href="#">press</a></li>
      <li><a href="#">jobs</a></li><br>
      <li><a href="#">privacy</a></li>
      <li><a href="#">terms</a></li>
    </ul>
  </div>
</div>
