<div class="jumbotron" style="height:70vh!important;">
  <div class="col-md-12">
    <div class="col-md-4 col-xs-4">
      <img style="width: 100%; border-radius: 50%" src="{{user.profileImageThumbnail}}">
    </div>
    <form class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1" role="myprofile" ng-submit="saveProfile()">
      <div class="row mt-10">
        <div class="col-md-5 fs-20">
          NickName:
        </div>
        <div class="col-md-7 fa-2x">
          <input type="text" class="col-md-7 form-control fs-20" ng-model="user.nickname">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fs-20">
          UserName:
        </div>
        <div class="col-md-7 fa-2x">
          <input type="text" class="col-md-7 form-control fs-20" ng-model="user.username">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fs-20">
          Email:
        </div>
        <div class="col-md-7 fa-2x">
          <input type="text" class="col-md-7 form-control fs-20" ng-model="user.email">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fs-20">
          CountryCode:
        </div>
        <div class="col-md-3 fa-2x">
          <input type="text" class="col-md-7 form-control fs-20" ng-model="user.countryCode">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fs-20">
          PhoneNumber:
        </div>
        <div class="col-md-7 fa-2x">
          <input type="text" class="col-md-7 form-control fs-20" ng-model="user.phone">
        </div>
      </div>
      <div class="row mt-10 col-md-offset-1 col-md-3">
        <button type="submit" class="btn btn-default col-md-12">Save</button>
      </div>
    </form>
  </div>
</div>
