<div class="jumbotron" style="height:70vh!important;">
  <div class="col-md-12">
    <div class="col-md-4 col-xs-4">
      <img style="width: 100%; border-radius: 50%" src="{{user.profileImageThumbnail}}">
    </div>
    <div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1">
      <div class="row mt-10">
        <div class="col-md-5 fa-2x">
          NickName:
        </div>
        <div class="col-md-7 fa-2x">
          {{user.nickname}}
        </div>
      </div>
      <div class="row mt-10"  ng-show="user.roles.length!=0">
        <div class="col-md-5 fa-2x">
          Roles:
        </div>
        <div class="col-md-7 fa-2x">
          <span ng-repeat="role in user.roles">{{role.name}}, </span>
        </div>
      </div>
      <div class="row mt-10"  ng-show="user.city">
        <div class="col-md-5 fa-2x">
          City:
        </div>
        <div class="col-md-7 fa-2x">
          {{user.city}}
        </div>
      </div>
      <div class="row mt-10" ng-show="user.numPosts">
        <div class="col-md-5 fa-2x">
          NumberOfPosts:
        </div>
        <div class="col-md-7 fa-2x">
          {{user.numPosts}}
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fa-2x">
          NumberOfFeeds:
        </div>
        <div class="col-md-7 fa-2x">
          {{user.feeds.length}}
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fa-2x">
          CreatedAt:
        </div>
        <div class="col-md-7 fa-2x">
          {{user.createdAt | date:'yyyy-MM-dd'}}
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5 fa-2x" ng-show="user.isVerified">Verified</div>
        <div class="col-md-5 fa-2x" ng-hide="user.isVerified">Not Verified</div>
      </div>
    </div>
  </div>
</div>
