<div class="feed-page">
  <form class="search" name="searchForm" role="search" ng-submit="searchFeed(searchText)">
    <div class="search-btn col-md-1 col-md-offset-7">Search:</div>
    <div class="form-group col-md-3 search-input">
      <input type="text" class="form-control" placeholder="Feed Name" ng-model="searchText" name="searchText">
    </div>
    <!--<button type="submit" class="btn btn-primary search-btn col-md-1">Search</button>-->
  </form>
  <div ng-show="isSet(1)">
    <div class="row">
      <div class="category"> Hot feeds</div>
      <a class="card" ui-sref="app.feed({ name: x.name })" ng-repeat="x in trending.data | filter:searchText">
        <div class="image" style="background-image: url({{x.mediaFile}}); background-repeat: no-repeat;   background-size: cover;">
          <div class="image-h2">
            <div class="name" >{{x.name}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div ng-show="isSet(2)">
    <div class="row">
      <div class="category">New</div>
      <a ui-sref="app.feed({ name: x.name })" class="card col-xs-6" ng-repeat="x in feeds.data.feeds | filter:searchText">
        <div class="image" style="background-image: url({{x.mediaFile}}); background-repeat: no-repeat;   background-size: cover;">
          <div class="image-h2">
            <div class= "name">{{x.name}}</div>
            <div class="name"> {{x.author.username}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div ng-show="isSet(3)">
    <div class="row">
      <div class="category">Subscribed</div>
      <a ui-sref="app.feed({ name: x.name })" class="card col-xs-6" ng-repeat="x in subscribed.data | filter:searchText">
        <div class="image" style="background-image: url({{x.mediaFile}}); background-repeat: no-repeat;   background-size: cover;">
          <div class="image-h2">
            <div class= "name">{{x.name}}</div>
            <div class="name"> {{x.author.username}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



<p>Just open the console of your favourite browser and the ngMock will print out the requests as console.info.</p>
