<div class="feeds-page">
  <div ng-show="isSet(1)">
    <div class="row">
      <div class="category"> Hot feeds</div>
      <a class="card" ui-sref="app.feed({ name: x.name })" ng-repeat="x in trending.data">
        <div class="image" style="background-image: url({{x.mediaFile}}); background-repeat: no-repeat;   background-size: cover;">
          <div class="image-h2">
            <div class="name" >{{x.name}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div ng-show="isSet(2)">
    <div class="row">
      <div class="category">New</div>
      <a ui-sref="app.feed({ name: x.name })" class="card" ng-repeat="x in feeds.data.feeds">
        <div class="image" style="background-image: url({{x.mediaFile}}); background-repeat: no-repeat;   background-size: cover;">
          <div class="image-h2">
            <div class= "name">{{x.name}}</div>
            <div class="name"> {{x.author.username}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



<p>Just open the console of your favourite browser and the ngMock will print out the requests as console.info.</p>
