<header>
  <div class="container flex-out">
    <div class="logo">
      <a href="/"><img src="public/images/ustadium_logo.png" alt="uSTADIUM"></a>
    </div>
    <div class="app-links">
      <a href="https://play.google.com/store/apps/details?id=com.ustadium.android&hl=en"><img src="public/images/google-play.png" alt="uSTADIUM"></a>
      <a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="public/images/app-store.png" alt="uSTADIUM"></a>
    </div>
  </div>
</header>

<h1 class="main-heading">{{page.title}}</h1>
<div class="wrapper">
  <div class="feed-outer" ng-repeat="post in posts.data | filter:searchText">
    <div class="profile out">
      <div class="img">
        <img class="" style="border-radius: 50%" src="{{post.author.profileImageThumbnail?post.author.profileImageThumbnail:'http://ustadium-media.s3.amazonaws.com/content/feed/81/9bb200294b11e7bb99538ff4cfc91a/master.jpg'}}">
      </div>
      <div class="data">
        <h1><a href="#">{{post.author.nickname}}</a> shared <a href="#">Isabel Griffith</a>'s photo to <a href="#">Westbrook</a></h1>
        <h4>{{post.updatedAt | timeago:Date.now}}</h4>
      </div>
    </div>
    <div class="content">
      <p style="word-wrap: break-word">{{post.text}}</p>
    </div>
    <div class="feed-inner" ng-show="post.mediaFileThumbnail">
      <!--<div class="profile in">-->
        <!--<div class="img">-->
          <!--<img src="public/images/profile02.png">-->
        <!--</div>-->
        <!--<div class="data">-->
          <!--<h1><a href="#">{{post.author.nickname}}</a> to <a href="#">{{page.title}}</a></h1>-->
          <!--<h4>{{post.updatedAt | timeago:Date.now}}</h4>-->
        <!--</div>-->
      <!--</div>-->
      <img class="feature-img img-responsive" src="{{post.mediaFileThumbnail}}" >
    </div>
    <div class="stats">
      <div class="like-dislike">
        <a href="#"><img src="public/images/like.png"><span class="count">{{post.likes}}</span></a>
        <a href="#"><img src="public/images/dislike.png"><span class="count">{{post.dislikes}}</span></a>
      </div>
      <div class="comments">
        <a href="#"><span class="count">{{post.numComments}}</span> comments</a>
      </div>
    </div>
  </div>
</div>
