.post {
  &-reply {
    border-color: black;

    border-style: solid;
    border-width: thick;
  }

  &-background {
    background-color: #fefefe;
    border-radius: 6px;
  }
}

.background-title{
  width: 213px;
  height: 420px;
  font-family: SFProDisplay;
  font-size: 140px;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffffff;
}
