.u-mark{
  width: 75.4px;
  height: 100px;
}

.post {
  &-outer {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
  }

  &-reply {
    border-color: black;

    border-style: solid;
    border-width: thick;
  }

  &-background {
    background-color: #fefefe;
    border-radius: 6px;
  }

  &-user {
    //width: 168px;
    height: 29px;
    font-size: 24px;
    text-align: left;
    color: #000000;
  }

  &-time {
    width: 112px;
    height: 19px;
    font-size: 16px;
    text-align: left;
    color: #bbbbbb;
  }

  &-text-content {
    font-size: 18px;
    line-height: 30px;
    clear: both;
  }
}

.background-title{
  width: 213px;
  height: 420px;
  font-size: 140px;
  line-height: 1;
  text-align: left;
  position: absolute;
  top: 171px;
  left: 102px;
  color: #ffffff;
}

.social-btn {
  width: 162px;
  height: 48px;
  object-fit: contain;
}

.google-link {
  float: right;
  margin-top: 45px;
  margin-left: 14px;

  //margin-right: 37px;
}

.apple-link {
  float: right;
  margin-top: 45px;
  margin-left: 14px;
  //margin-right: 37px;
}

.main-content {
  max-width: 542px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}
